@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
/* @custom-variant dark (&:where(.dark, .dark *)); */

@font-face {
    font-family: SourGummy;
    src: url("./fonts/SourGummy.ttf");
}
@font-face {
    font-family: AveriaLibre;
    src: url("./fonts/AveriaLibre-Regular.ttf");
}

@theme {
    /* Light Mode */
    --color-background-light: #E9EFEC;
    --color-link-light: #C4DAD2;
    --color-link-hover-light: #6A9C89;
    --color-border-light: #16423C;

    --color-text-light: black;
    --color-text-light-games: white;
    
    /* Dark Mode */
    --color-background-dark: #213448;
    --color-link-dark: #94B4C1;
    --color-link-hover-dark: #547792;
    --color-border-dark: #ECEFCA;

    --color-text-dark-general: white;
    --color-text-dark-socials: black;
    --color-text-dark-socials-hover: white;
    --color-text-dark-games: white;

    /* Fonts */
    --font-sour-gummy: "SourGummy";
    --font-AveriaLibre: "AveriaLibre";
}

a.disabled {
    pointer-events: none;
    cursor: default;
}