@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
/* @custom-variant dark (&:where(.dark, .dark *)); */

@font-face {
    font-family: SourGummy;
    src: url("./fonts/SourGummy.ttf");
}
@font-face {
    font-family: AveriaLibre;
    src: url("./fonts/AveriaLibre-Regular.ttf");
}

@theme {
    --color-background-light: #E9EFEC;
    --color-link-light: #C4DAD2;
    --color-link-hover-light: #6A9C89;
    --color-border-light: #16423C;
    --color-text-light: black;
    
    --color-background-dark: #06202B;
    --color-link-dark: #077A7D;
    --color-link-hover-dark: #7AE2CF;
    --color-border-dark: #F5EEDD;
    --color-text-dark: white;

    --font-sour-gummy: "SourGummy";
    --font-AveriaLibre: "AveriaLibre";
}

a.disabled {
    pointer-events: none;
    cursor: default;
}